@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  font-size: 30px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #181818;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 0;
}

/*------------------------------------*/
.header {
  font-family: "Inter";
  margin-bottom: 85px;
}
@media (max-width: 992px) {
  .header {
    width: 100%;
    position: fixed;
    background: #181818;
    z-index: 99;
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}
@media (max-width: 992px) {
  .header__body {
    padding: 15px 0;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-right: 80px;
}
@media (max-width: 992px) {
  .header__list {
    display: none;
  }
}
.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.header__link:hover {
  color: #02e4c0;
}
.header__btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 13.5px 46px;
  background: none;
  border: 1px solid #ffffff;
  -webkit-filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}
.header__btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 600ms;
  transition: 600ms;
}
@media (max-width: 992px) {
  .header__btn {
    display: none;
  }
}
.header .toggle-nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 993px) {
  .header .toggle-nav {
    display: none;
  }
}
.header .toggle-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 170px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header .toggle-nav ul li {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
.header .toggle-nav ul li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.header .toggle-nav ul li button {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 13.5px 46px;
  background: none;
  border: 1px solid #ffffff;
  margin-top: 30px;
  -webkit-filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}
.header .toggle-nav ul li button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 600ms;
  transition: 600ms;
}
.header .toggle-btn {
  display: block;
  position: fixed;
  z-index: 100;
  right: 40px;
  top: 30px;
  cursor: pointer;
}
@media (min-width: 993px) {
  .header .toggle-btn {
    display: none;
  }
}
.header .toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.header .toggle-btn .bar:nth-child(2) {
  width: 20px;
}
.header #toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
  z-index: 99;
}
.header #toggle:checked ~ nav ul {
  top: 70px;
}
.header #toggle:checked ~ nav ul li {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.header #toggle:checked ~ nav ul li:nth-child(1) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
.header #toggle:checked ~ nav ul li:nth-child(2) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
.header #toggle:checked ~ nav ul li:nth-child(3) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
.header #toggle:checked ~ nav ul li:nth-child(4) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}
.header #toggle:checked + label.toggle-btn .bar {
  background-color: red;
}
.header #toggle:checked + label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}
.header #toggle:checked + label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}
.header #toggle:checked + label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.main {
  font-family: "Inter";
}
.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__title {
  font-weight: 500;
  font-size: 80px;
  line-height: 88px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 30px;
}
.main__title span {
  color: #02e4c0;
}
.main__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  letter-spacing: 0.2px;
  max-width: 591px;
  margin-bottom: 85px;
  text-align: center;
}
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  margin-bottom: 35px;
}
.main__btn-purple {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  background: #4452fe;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
}
.main__btn-purple:hover {
  background: #4578fb;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 600ms;
  transition: 600ms;
}
.main__btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  padding: 20px 40px;
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}
.main__btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 600ms;
  transition: 600ms;
}
.main__img {
  width: 100%;
  height: auto;
}

.features {
  font-family: "Inter";
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  .features {
    padding-bottom: 50px;
  }
}
.features__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin-bottom: 27px;
  text-align: center;
  margin-top: 160px;
}
.features__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  max-width: 591px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .features__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features__left {
  position: relative;
}
.features__left::after {
  content: "";
  position: absolute;
  width: 193px;
  height: 193px;
  left: 60px;
  bottom: 150px;
  background: url(../images/Features/circle-ribbon.svg);
  -webkit-animation: spiner 10s infinite;
          animation: spiner 10s infinite;
}
@-webkit-keyframes spiner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spiner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.features__right {
  margin-top: 120px;
}
@media (max-width: 992px) {
  .features__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 52px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
  }
}
.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 48px;
}
.features__box-img {
  margin-bottom: 24px;
}
.features__box-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
  max-width: 154px;
}
@media (max-width: 992px) {
  .features__box-title {
    max-width: none;
  }
}
.features__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  max-width: 334px;
}
@media (max-width: 992px) {
  .features__box-text {
    max-width: 190px;
  }
}

.contents {
  font-family: "Inter";
  padding-bottom: 50px;
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .contents {
    margin-bottom: 50px;
  }
}
.contents__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0px 60px 0px 20px;
}
.contents__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  max-width: 574px;
  margin: 0 auto;
  margin-bottom: 54px;
}
.contents__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 33px;
  margin: 0px 15px 0px 15px;
}
@media (max-width: 992px) {
  .contents__body {
    gap: 20px;
  }
}
.contents__box {
  padding: 25px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.contents__box:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 105px;
  height: 108px;
  right: 0;
  top: 0;
  background: url(../images/Contents/New.png);
}
.contents__box-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  padding: 10px 0px;
  color: #000000;
  margin-bottom: 30px;
}
.contents__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5c5c5c;
  margin-bottom: 40px;
  max-width: 334px;
}
.contents__box-btn {
  padding: 14px 46px;
  color: #ffffff;
  background: #4452fe;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .contents__box-img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.gallery {
  font-family: "Inter";
  padding: 60px 0px;
  margin-bottom: 60px;
}
.gallery__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
  text-align: center;
}
.gallery__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 574px;
  margin: 0 auto 54px auto;
}
.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
@media (max-width: 992px) {
  .gallery__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.gallery__left {
  width: 100%;
}
.gallery__left img {
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .gallery__left img {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
  }
}
.gallery__right {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-rows: repeat(3, 170px);
  grid-template-columns: repeat(3, 170px);
  gap: 40px;
  position: relative;
}
@media (max-width: 992px) {
  .gallery__right {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.gallery__img:nth-child(1) {
  grid-column-start: 1;
}
@media (max-width: 992px) {
  .gallery__img:nth-child(1) {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.gallery__img:nth-child(2) {
  grid-column-start: 1;
  row-gap: 10px;
}
@media (max-width: 992px) {
  .gallery__img:nth-child(2) {
    width: 100%;
    height: 100%;
    grid-row-start: 0;
    grid-column-start: 2;
  }
}
.gallery__img:nth-child(3) {
  position: absolute;
  left: -104px;
  bottom: 208px;
  grid-column-start: 3;
}
@media (max-width: 992px) {
  .gallery__img:nth-child(3) {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column-start: 1;
    grid-row-start: 0;
  }
}
.gallery__img:nth-child(4) {
  grid-column-start: 1;
  grid-row-start: 0;
}
@media (max-width: 992px) {
  .gallery__img:nth-child(4) {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column-start: 2;
    grid-row-start: 0;
  }
}
.gallery__img:nth-child(5) {
  grid-column-start: 0;
  grid-row-start: 0;
}
@media (max-width: 992px) {
  .gallery__img:nth-child(5) {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.gallery__img:nth-child(6) {
  grid-column-start: 0;
  grid-row-start: 0;
}
@media (max-width: 992px) {
  .gallery__img:nth-child(6) {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.partners {
  margin-bottom: 100px;
}
.partners__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0px 60px 0px 20px;
}
.partners__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 574px;
  margin: 0 auto 60px auto;
}
.partners__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .partners__box {
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 30px;
  }
}
.partners__img:nth-child(1) {
  grid-column-start: 0;
  grid-row-start: 0;
}
@media (max-width: 992px) {
  .partners__img:nth-child(1) {
    grid-column-start: 2;
  }
}
.partners__img:nth-child(5) {
  grid-column-start: 0;
  grid-row-start: 0;
}
@media (max-width: 992px) {
  .partners__img:nth-child(5) {
    grid-column-start: 3;
  }
}
.partners__img:nth-child(6) {
  grid-column-start: 0;
  grid-row-start: 0;
}
.testimonials {
  font-family: "Inter";
  margin-bottom: 100px;
}
.testimonials__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 60px 0px;
}
.testimonials__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 22px;
  margin-bottom: 30px;
}
.testimonials__box {
  min-width: 430px;
  min-height: 256px;
  padding: 40px;
  border: 1px solid #5c5c5c;
  border-radius: 10px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .testimonials__box {
    min-width: 345px;
    min-height: 278px;
  }
}
.testimonials__box-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  margin-bottom: 30px;
}
.testimonials__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02e4c0;
}
.testimonials__proff {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
.testimonials__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  max-height: 96px;
  max-width: 334px;
}
@media (max-width: 992px) {
  .testimonials__desc {
    max-width: 265px;
  }
}
.opentype {
  font-family: "Inter";
  margin-top: 80px;
}
@media (max-width: 992px) {
  .opentype {
    margin-top: 50px;
  }
}
.opentype__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #343434;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 33px;
  margin-bottom: 80px;
  max-height: 370px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .opentype__body {
    max-height: 732px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.opentype__left {
  padding: 78.5px;
}
@media (max-width: 992px) {
  .opentype__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.opentype__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  max-width: 486px;
  margin-bottom: 36px;
}
@media (max-width: 992px) {
  .opentype__title {
    text-align: center;
    margin: 0 auto 36px auto;
  }
}
.opentype__btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #4452fe;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  padding: 13.5px 67px;
}
@media (max-width: 992px) {
  .opentype__btn {
    margin: 0 auto;
  }
}
.opentype__img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .opentype__img {
    width: 100%;
    height: auto;
  }
}

.map {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 0px;
}
@media (max-width: 992px) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0px;
    gap: 50px;
  }
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
}
@media (max-width: 479px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}
.footer__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #535353;
}
.footer__item-link:hover {
  color: #ffffff;
}
.footer__right {
  margin-left: 200px;
}
@media (max-width: 992px) {
  .footer__right {
    margin-left: 30px;
  }
}
.footer__map {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 23px;
  margin-left: 40px;
  position: relative;
}
.footer__map::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -40px;
  bottom: 0;
  background: url(../images/footer/map.svg);
}
.footer__tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 40px;
  margin-left: 40px;
  position: relative;
}
.footer__tel::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 40px;
  left: -50px;
  bottom: 0;
  background: url(../images/footer/tel.svg);
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}